body{
  background: url('images/jj.jpg');
  color: #ffe8a3;
  animation: sisi 1s alternate backwards;
  animation-name: body;
}

@keyframes body {
  from{ opacity: 1;}
  to{ opacity: 0;}
}

h1{
  text-align: center;
  text-decoration:dashed;
  color:#ffe8a3;
}

h2{
  text-align: center;
  color: #ffe8a3;
}

@keyframes ghost {
  from{ opacity: 1; }    
  to{  opacity: 0;}
  
}

img{
  height: 50;
  width: 50%;
  object-fit: cover;
  animation-name: ghost;
  animation: ghost 3s alternate-reverse backwards;
  backdrop-filter: unset;
}


.amg{
  text-align: center;
}


ol{
  background: #6b5600;
  border-bottom: 2;
  opacity: 0.5;
  transition: 1s; 
  padding-left: 45%; 
}

ol li{
  text-align: center;
  padding-right: 70%;
} 

li::marker{
  color: antiquewhite;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 10%;
}  

ol:hover{
  opacity: 1;
}


a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  opacity: 1;
  transition:0.5s;
}


a:hover {
  opacity: 0.5;
  color: #6b5600;
  animation: glitch2 0.2s infinite;
  animation-name: glitch;
}



@keyframes glitch {
  0%{text-shadow:2px 2px black,-2px -2px rgb(255, 215, 15);}

 25%{text-shadow:-2px -2px black,2px 2px white;}

 75%{text-shadow:2px 2px black,-2px -2px white;}

 100%{text-shadow:-2px -2px black,2px 2px white;}
}



ul {
  list-style-type: none;
  background-color: rgb(134, 111, 0);
  text-align: center;
  border: #ffffff96;
  opacity: 0.5;
  transition: 1s;
}



ul:hover {
  opacity:1;
}


.para{
  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
  text-align: center;
  text-overflow:ellipsis;
  padding-left: 10%;
  padding-right: 10%;
}

